body {
    margin:20px auto;
    max-width:750px;
    line-height:1.5;
    font-size:16px;
    color:#444;
    padding:0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
h1,h2,h3 {
    line-height:1.2;
}

#contact > a {
	text-decoration: none;
}

#contact > a > i {
	font-size: 2em;
	margin-right: 0.25em;
}

#linkedIn,#email,#github {
	color:#444;
}

.skills {
	list-style-type: none;
}
