body {
    margin:20px auto;
    max-width:750px;
    line-height:1.2;
    font-size:14px;
    color:#444;
    padding:0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

h1,h2,h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

li {
    margin-bottom: 0.25em;
}

#contact > a {
	text-decoration: none;
}

#contact > a > i {
	margin-right: 0.25em;
}

#linkedIn,#email,#github {
	color:#444;
}

